body{
  background: white
}

h1{
  text-align: center;
}

#search_bar{
  text-align: center;
}

select{
  font-size:1.4em;
  height:2.7em;
  border-radius: 4px;
  color: rgb(59, 58, 58);
}

input[type="text"]{
  width: 750px;
  box-sizing: border-box;
  text-align:left;
  font-size:1.4em;
  height:2.7em;
  border-radius:4px;
  border:1px solid #c8cccf;
  color:#323842;
  -web-kit-appearance:none;
  -moz-appearance: none;
  /* display:block; */
  outline:0;
  padding:0 1em;
  text-decoration:none;
  /* width:100%; */
}
input[type="text"]:focus{
  border:1px solid #ff7496;
}

#btn1{
  font-size:1.4em;
  width: 100px;
  height:2.7em;
  border-radius: 4px;
  
  color: rgb(83, 79, 79);
}